$kiBrandColor: #4bb97b;
$kiBrandLight: lighten($kiBrandColor, 38%);
$kiColor: #4b5db9;
$kiDark: darken($kiColor, 15%);
$kiLighter: lighten($kiColor, 38%);
$kiLight: lighten($kiColor, 48%);

$kiColorContra: #BAA84C;
